#blog-body {
    background-image: url("../images/pinkmarble.jpg");
    display: flex;
    flex-direction: column;
}

#blog-wrapper {
    width: 80%;
    height: 80%;
    margin: auto;
    display: flex;
    background-color: black; /* Fallback color */
    background-color: rgba(59, 172, 187, 0.4); /* Black w/opacity/see-through */
    border: 3px solid #f1f1f1;
}

#page-title {
    text-align: center;
    color: honeydew;
}

#blog-button-return-lobby {
    margin: auto;
    padding: 20px 30px;
    width: 500px;
    background-color: teal;
}

#blog-button-return-lobby a {
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    color: snow;
    font-weight: bold;
}

main {
    flex: 2;
    padding: 20px;
}

#article-title {
    text-align: center;
}

#article-content {
    text-align: justify;
    line-height: 1.6;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

#button-delete, #button-edit {
    padding: 10px 50px;
    /* min-width: 50px; */
    font-size: 20px;
    background-color: deeppink;
    border: 2px solid dodgerblue;
    box-shadow: 5px 10px #888888;
}

#button-delete:hover, #button-edit:hover {
    background-color: mediumorchid;
}

#button-delete a, #button-edit a {
    text-decoration: none;
    color: floralwhite;
}

#comment-section-title {
    font-size: 20px;
    font-weight: 500;
}

.comment-section {
    border: 1px solid darkslategrey;
    margin: 20px;
    line-height: 1.6;
    padding: 10px;
}

#commenter {
    font-weight: bold;
}

#comment-form {
    /* border: 2px solid royalblue; */
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

#comment-form-title {
    font-size: 24px;
    color: deeppink;
    border-bottom: 2px solid darkslategrey;
    font-weight: 500;
}

#label-commenter, #label-comment {
    text-align: center;
    color: darkmagenta;
    font-size: 15px;
}

#comment-form-id, #form-comment-id {
    display: none;
}

#button-save-comment {
    background-color: deeppink;
    color: white;
    padding: 25px;
    font-size: 20px;
    text-transform: uppercase;
}

#button-save-comment:hover {
    background-color: gainsboro;
    color: dodgerblue;
}

aside {
    flex: 1;
    border: 1px solid aliceblue;
}

#blog-summary-title {
    border-bottom: 2px solid oldlace;
    text-align: center;
    color: blueviolet
}

.blog-summary-article {
    margin: 20px;
    text-decoration: none;
    font-size: 30px;
    border-bottom: 5px ridge whitesmoke;
}

.blog-summary-article a {
    margin: 30px;
    text-decoration: none;
}

.blog-summary-article a:hover {
    color: white;
}




