
#enemy-section {
    display: flex;
    justify-content: space-between;
}

#enemy-cards-container {
    display: flex;
    justify-content: space-between;
}

#enemy-board-cards-container {
    display: flex;
    justify-content: center;
}

.enemy-board-card {
    border: 2px solid black;
	background-color: cyan;
	/* padding:30px; */
	/* text-align:center; */
	margin:0 10px;
	transition: 1s;
	box-shadow: 0 0 10px white;
}

#enemy-details {
    display: flex;
}

.enemy-hp, .enemy-user, .enemy-mp {
    margin: 5px;
}

#player-section {
    display: flex;
    justify-content: space-between;
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

#player-section #player-details {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#player-board-cards-container {
    display: flex;
    justify-content: center;
}

.player-board-card {
    border: 2px solid black;
	background-color: mediumseagreen;
	/* padding:30px; */
	/* text-align:center; */
	margin:0 10px;
	transition: 1s;
	/* box-shadow: 0 0 10px white; */
}

#player-cards-container {
	display: flex;
	/* align-items:stretch; */
	/* justify-content: center; */
	/* width:1000px; */
	/* margin:50px auto; */
}

.player-card {
	border: 2px solid black;
	background-color: greenyellow;
	/* padding:30px; */
	text-align:center;
	margin:0 10px;
	transition: 1s;
	/* box-shadow: 0 0 10px white; */
	width: 140px;
	height: 200px;
}

#player-actions-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#cards-template-stats-container {
	display: flex;
	justify-content: space-between;
}

.card-template-photo {
	width: 100px;
}