#game-body {
    background-image: url("../images/game-background.jpg");
	/* background-color: darkslategrey; */
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#game-status {
	color: white;
	background-color: plum;
	height: 50px;
}

#enemy-section {
    display: flex;
    justify-content: space-between;
	background-color: rgba(104, 100, 100, 0.4); /* Black w/opacity/see-through */
}

#enemy-cards-container {
    display: flex;
    justify-content: space-between;
}

#enemy-board-cards-container {
    display: flex;
    justify-content: center;
}

.enemy-board-card {
    border: 2px solid black;
	background-color: cyan;
	/* padding:30px; */
	/* text-align:center; */
	margin:0 10px;
	transition: 1s;
	box-shadow: 0 0 10px white;
	text-align:center;
	width: 140px;
	height: 180px;
}

#enemy-details {
    display: flex;
	align-items: center;
	flex-direction: column;
}

#enemy-avatar {
	width: 20%;
	height: auto;
	border: 2px solid plum;
	border-radius: 50%;
}

.enemy-hp, .enemy-user, .enemy-mp {
    margin: 5px;
	color: white;
}

#player-section {
    display: flex;
    justify-content: space-between;
	background-color: rgba(219, 202, 217, 0.4);
}

#player-section #player-details {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: white;
}

#player-board-cards-container {
    display: flex;
    justify-content: center;
}

.player-board-card {
    border: 2px solid black;
	background-color: mediumseagreen;
	/* padding:30px; */
	/* text-align:center; */
	margin:0 10px;
	transition: 1s;
	/* box-shadow: 0 0 10px white; */
	text-align:center;
	width: 140px;
	height: 180px;
}

#player-cards-container {
	display: flex;
	/* align-items:stretch; */
	/* justify-content: center; */
	/* width:1000px; */
	/* margin:50px auto; */
}

.player-card {
	border: 2px solid black;
	background-color: greenyellow;
	/* padding:30px; */
	text-align:center;
	margin:0 10px;
	transition: 1s;
	/* box-shadow: 0 0 10px white; */
	width: 140px;
	height: 180px;
}

#player-actions-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#cards-template-stats-container {
	display: flex;
	justify-content: space-between;
}

.card-template-photo {
	width: 100px;
}

#remaining-turn-time, #your-turn {
	color: white;
}